.202_15 { 
	overflow:hidden;
}.e202_15 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}.e216_84 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:902px;
	position:absolute;
	left:0px;
	top:122px;
}.e13_7 { 
	width:218px;
	height:85px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_6.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e202_18 { 
	transform: rotate(0.0397887288581095deg);
	width:1440.0003662109375px;
	height:0px;
	position:absolute;
	left:0px;
	top:121px;
}.202_18 { 
	border:3px solid rgba(122.1874974668026, 122.1874974668026, 122.1874974668026, 1);
}.e202_20 { 
	width:545px;
	height:69px;
	position:absolute;
	left:448px;
	top:227px;
	background-image:url(images/image_7.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e202_21 { 
	width:330px;
	height:236px;
	position:absolute;
	left:131px;
	top:394px;
	background-image:url(images/vectary_texture.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e206_52 { 
	width:274px;
	height:100px;
	position:absolute;
	left:1154px;
	top:11px;
}.e205_25 { 
	color:rgba(33.00000183284283, 37.00000159442425, 35.00000171363354, 1);
	width:135px;
	height:36px;
	position:absolute;
	left:0px;
	top:14px;
	font-family:Poppins;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e205_26 { 
	color:rgba(33.00000183284283, 37.00000159442425, 35.00000171363354, 1);
	width:129px;
	height:30px;
	position:absolute;
	left:6px;
	top:50px;
	font-family:Poppins;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e202_16 { 
	border-radius:500px;
	width:100px;
	height:100px;
	position:absolute;
	left:174px;
	top:0px;
	background-image:url(images/ellipse.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e205_43 { 
	width:330px;
	height:236px;
	position:absolute;
	left:555px;
	top:394px;
	background-image:url(images/vectary_texture.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e205_44 { 
	width:330px;
	height:236px;
	position:absolute;
	left:959px;
	top:394px;
	background-image:url(images/vectary_texture.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e205_45 { 
	box-shadow:0px 4px 97px rgba(255, 85.99999487400055, 245.99997013807297, 0.5099999904632568);
	background-image:linear-gradient(0deg, rgba(120.00000044703484, 190.0000038743019, 151.00000619888306, 1) 18.31105947494507%,rgba(33.02249662578106, 235.87500303983688, 0, 1) 43.25926899909973%,rgba(255, 224.000001847744, 134.00000721216202, 1) 85.44426560401917%,rgba(63.75, 105.82500547170639, 255, 1) 100%,rgba(0, 247.56250709295273, 128.7325018644333, 1) 100%) ;
	width:264px;
	height:55px;
	position:absolute;
	left:180px;
	top:642px;
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
}.e205_46 { 
	color:rgba(255, 255, 255, 1);
	width:72px;
	height:23px;
	position:absolute;
	left:96px;
	top:16px;
	font-family:Orbitron;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.e205_49 { 
	box-shadow:0px 4px 97px rgba(255, 85.99999487400055, 245.99997013807297, 0.5099999904632568);
	background-image:linear-gradient(0deg, rgba(120.00000044703484, 190.0000038743019, 151.00000619888306, 1) 18.31105947494507%,rgba(33.02249662578106, 235.87500303983688, 0, 1) 43.25926899909973%,rgba(255, 224.000001847744, 134.00000721216202, 1) 85.44426560401917%,rgba(63.75, 105.82500547170639, 255, 1) 100%,rgba(0, 247.56250709295273, 128.7325018644333, 1) 100%) ;
	width:323px;
	height:55px;
	position:absolute;
	left:992px;
	top:642px;
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
}.e205_50 { 
	color:rgba(255, 255, 255, 1);
	width:131px;
	height:23px;
	position:absolute;
	left:96px;
	top:16px;
	font-family:Orbitron;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.e205_47 { 
	box-shadow:0px 4px 97px rgba(255, 85.99999487400055, 245.99997013807297, 0.5099999904632568);
	background-image:linear-gradient(0deg, rgba(120.00000044703484, 190.0000038743019, 151.00000619888306, 1) 18.31105947494507%,rgba(33.02249662578106, 235.87500303983688, 0, 1) 43.25926899909973%,rgba(255, 224.000001847744, 134.00000721216202, 1) 85.44426560401917%,rgba(63.75, 105.82500547170639, 255, 1) 100%,rgba(0, 247.56250709295273, 128.7325018644333, 1) 100%) ;
	width:298px;
	height:55px;
	position:absolute;
	left:588px;
	top:642px;
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
}.e205_48 { 
	color:rgba(255, 255, 255, 1);
	width:106px;
	height:23px;
	position:absolute;
	left:96px;
	top:16px;
	font-family:Orbitron;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.e209_67 { 
	color:rgba(0, 0, 0, 0.5);
	width:744px;
	height:30px;
	position:absolute;
	left:0px;
	top:994px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e216_83 { 
	width:543px;
	height:91px;
	position:absolute;
	left:444px;
	top:321px;
	background-image:url(images/image_8.png);
	background-repeat:no-repeat;
	background-size:cover;
}