.286_82 { 
	overflow:hidden;
}.e286_82 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}.e286_83 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:902px;
	position:absolute;
	left:0px;
	top:122px;
}.e286_84 { 
	width:218px;
	height:85px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_6.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e286_85 { 
	transform: rotate(0.0397887288581095deg);
	width:1440.0003662109375px;
	height:0px;
	position:absolute;
	left:0px;
	top:121px;
}.286_85 { 
	border:3px solid rgba(122.1874974668026, 122.1874974668026, 122.1874974668026, 1);
}.e286_88 { 
	width:274px;
	height:100px;
	position:absolute;
	left:1154px;
	top:11px;
}.e286_89 { 
	color:rgba(33.00000183284283, 37.00000159442425, 35.00000171363354, 1);
	width:135px;
	height:36px;
	position:absolute;
	left:0px;
	top:14px;
	font-family:Poppins;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e286_90 { 
	color:rgba(33.00000183284283, 37.00000159442425, 35.00000171363354, 1);
	width:129px;
	height:30px;
	position:absolute;
	left:6px;
	top:50px;
	font-family:Poppins;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e286_91 { 
	border-radius:500px;
	width:100px;
	height:100px;
	position:absolute;
	left:174px;
	top:0px;
	background-image:url(images/ellipse.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e286_100 { 
	color:rgba(0, 0, 0, 0.5);
	width:744px;
	height:30px;
	position:absolute;
	left:0px;
	top:994px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e286_107 { 
	width:1051px;
	height:762px;
	position:absolute;
	left:194px;
	top:132px;
	background-image:url(images/image_10.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e286_108 { 
	background-color:rgba(254.00000005960464, 213.00000250339508, 51.00000075995922, 1);
	width:619px;
	height:53px;
	position:absolute;
	left:419px;
	top:486px;
	border-top-left-radius:36px;
	border-top-right-radius:36px;
	border-bottom-left-radius:36px;
	border-bottom-right-radius:36px;
}.e286_109 { 
	background-color:rgba(254.00000005960464, 213.00000250339508, 51.00000075995922, 1);
	width:661px;
	height:53px;
	position:absolute;
	left:377px;
	top:486px;
	border-top-left-radius:36px;
	border-top-right-radius:36px;
	border-bottom-left-radius:36px;
	border-bottom-right-radius:36px;
}.e286_110 { 
	color:rgba(0, 0, 0, 1);
	width:433px;
	height:45px;
	position:absolute;
	left:478px;
	top:490px;
	font-family:Poppins;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}.e286_111 { 
	background-color:rgba(255, 255, 255, 1);
	width:1060px;
	height:403px;
	position:absolute;
	left:190px;
	top:554px;
}.e286_113 { 
	width:504px;
	height:430px;
	position:absolute;
	left:456px;
	top:550px;
	border-top-left-radius:29px;
	border-top-right-radius:29px;
	border-bottom-left-radius:29px;
	border-bottom-right-radius:29px;
	background-image:url(images/image_11.png);
	background-repeat:no-repeat;
	background-size:cover;
}