.2_25 { 
	overflow:hidden;
}.e2_25 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}.e2_27 { 
	background-color:rgba(120.00000044703484, 190.0000038743019, 151.00000619888306, 1);
	width:610px;
	height:772px;
	position:absolute;
	left:89px;
	top:188px;
	border-top-left-radius:29px;
	border-top-right-radius:29px;
	border-bottom-left-radius:29px;
	border-bottom-right-radius:29px;
}.e2_26 { 
	width:218px;
	height:85px;
	position:absolute;
	left:0px;
	top:17px;
	background-image:url(images/image_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e2_28 { 
	background-color:rgba(255, 224.000001847744, 134.00000721216202, 1);
	width:610px;
	height:772px;
	position:absolute;
	left:781px;
	top:188px;
	border-top-left-radius:29px;
	border-top-right-radius:29px;
	border-bottom-left-radius:29px;
	border-bottom-right-radius:29px;
}.e2_29 { 
	color:rgba(0, 0, 0, 1);
	width:395px;
	height:75px;
	position:absolute;
	left:522px;
	top:39px;
	font-family:Roboto;
	text-align:center;
	font-size:64px;
	letter-spacing:0;
}.e2_30 { 
	background-color:rgba(0, 247.56250709295273, 128.7325018644333, 1);
	width:610px;
	height:113px;
	position:absolute;
	left:89px;
	top:188px;
	border-top-left-radius:32px;
	border-top-right-radius:32px;
	border-bottom-left-radius:32px;
	border-bottom-right-radius:32px;
}.e2_41 { 
	background-color:rgba(0, 247.56250709295273, 128.7325018644333, 1);
	width:610px;
	height:113px;
	position:absolute;
	left:781px;
	top:188px;
	border-top-left-radius:32px;
	border-top-right-radius:32px;
	border-bottom-left-radius:32px;
	border-bottom-right-radius:32px;
}.e2_42 { 
	background-color:rgba(103.0000014603138, 74.0000031888485, 64.00000378489494, 1);
	width:610px;
	height:113px;
	position:absolute;
	left:781px;
	top:188px;
	border-top-left-radius:32px;
	border-top-right-radius:32px;
	border-bottom-left-radius:32px;
	border-bottom-right-radius:32px;
}.e2_31 { 
	color:rgba(0, 0, 0, 1);
	width:584px;
	height:56px;
	position:absolute;
	left:102px;
	top:217px;
	font-family:Roboto;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
}.e2_70 { 
	color:rgba(255, 255, 255, 1);
	width:427px;
	height:56px;
	position:absolute;
	left:873px;
	top:217px;
	font-family:Roboto;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
}.e2_43 { 
	background-color:rgba(67.00000360608101, 68.00000354647636, 68.00000354647636, 1);
	width:540px;
	height:104px;
	position:absolute;
	left:124px;
	top:341px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}.e2_80 { 
	background-color:rgba(67.00000360608101, 68.00000354647636, 68.00000354647636, 1);
	width:540px;
	height:104px;
	position:absolute;
	left:124px;
	top:341px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}.e2_46 { 
	color:rgba(255, 255, 255, 1);
	width:368px;
	height:47px;
	position:absolute;
	left:154px;
	top:346px;
	font-family:Roboto;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}.e2_47 { 
	background-color:rgba(33.02249662578106, 235.87500303983688, 0, 1);
	width:139px;
	height:36px;
	position:absolute;
	left:503px;
	top:401px;
	border-top-left-radius:11px;
	border-top-right-radius:11px;
	border-bottom-left-radius:11px;
	border-bottom-right-radius:11px;
}.e2_49 { 
	color:rgba(255, 255, 255, 1);
	width:111px;
	height:23px;
	position:absolute;
	left:517px;
	top:407px;
	font-family:Roboto;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e2_81 { 
	width:540px;
	height:104px;
	position:absolute;
	left:124px;
	top:485px;
}.e2_61 { 
	background-color:rgba(67.00000360608101, 68.00000354647636, 68.00000354647636, 1);
	width:540px;
	height:104px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}.e2_62 { 
	color:rgba(255, 255, 255, 1);
	width:368px;
	height:47px;
	position:absolute;
	left:30px;
	top:5px;
	font-family:Roboto;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}.e2_63 { 
	background-color:rgba(33.02249662578106, 235.87500303983688, 0, 1);
	width:139px;
	height:36px;
	position:absolute;
	left:379px;
	top:60px;
	border-top-left-radius:11px;
	border-top-right-radius:11px;
	border-bottom-left-radius:11px;
	border-bottom-right-radius:11px;
}.e2_64 { 
	color:rgba(255, 255, 255, 1);
	width:111px;
	height:23px;
	position:absolute;
	left:393px;
	top:66px;
	font-family:Roboto;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e2_82 { 
	width:540px;
	height:104px;
	position:absolute;
	left:816px;
	top:551px;
}.e2_83 { 
	background-color:rgba(67.00000360608101, 68.00000354647636, 68.00000354647636, 1);
	width:540px;
	height:104px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}.e2_84 { 
	color:rgba(255, 255, 255, 1);
	width:368px;
	height:47px;
	position:absolute;
	left:30px;
	top:5px;
	font-family:Roboto;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}.e2_85 { 
	background-color:rgba(33.02249662578106, 235.87500303983688, 0, 1);
	width:139px;
	height:36px;
	position:absolute;
	left:379px;
	top:60px;
	border-top-left-radius:11px;
	border-top-right-radius:11px;
	border-bottom-left-radius:11px;
	border-bottom-right-radius:11px;
}.e2_86 { 
	color:rgba(255, 255, 255, 1);
	width:111px;
	height:23px;
	position:absolute;
	left:393px;
	top:66px;
	font-family:Roboto;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e2_65 { 
	background-color:rgba(67.00000360608101, 68.00000354647636, 68.00000354647636, 1);
	width:540px;
	height:104px;
	position:absolute;
	left:124px;
	top:629px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}.e2_66 { 
	color:rgba(255, 255, 255, 1);
	width:368px;
	height:47px;
	position:absolute;
	left:154px;
	top:634px;
	font-family:Roboto;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}.e2_67 { 
	background-color:rgba(33.02249662578106, 235.87500303983688, 0, 1);
	width:139px;
	height:36px;
	position:absolute;
	left:503px;
	top:689px;
	border-top-left-radius:11px;
	border-top-right-radius:11px;
	border-bottom-left-radius:11px;
	border-bottom-right-radius:11px;
}.e2_68 { 
	color:rgba(255, 255, 255, 1);
	width:111px;
	height:23px;
	position:absolute;
	left:517px;
	top:695px;
	font-family:Roboto;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e2_71 { 
	background-color:rgba(163.62499594688416, 139.763021171093, 139.763021171093, 1);
	width:559px;
	height:130px;
	position:absolute;
	left:811px;
	top:341px;
	border-top-left-radius:19px;
	border-top-right-radius:19px;
	border-bottom-left-radius:19px;
	border-bottom-right-radius:19px;
}.e2_72 { 
	color:rgba(0, 0, 0, 0.5);
	width:744px;
	height:30px;
	position:absolute;
	left:0px;
	top:994px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e2_76 { 
	color:rgba(0, 0, 0, 1);
	width:351px;
	height:45px;
	position:absolute;
	left:811px;
	top:742px;
	font-family:Poppins;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}.e2_79 { 
	color:rgba(0, 0, 0, 1);
	width:336px;
	height:62px;
	position:absolute;
	left:811px;
	top:485px;
	font-family:Poppins;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}.e2_77 { 
	color:rgba(255, 255, 255, 1);
	width:233px;
	height:47px;
	position:absolute;
	left:824px;
	top:346px;
	font-family:Roboto;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}.e2_78 { 
	color:rgba(255, 255, 255, 1);
	width:156px;
	height:23px;
	position:absolute;
	left:831px;
	top:437px;
	font-family:Roboto;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e205_151 { 
	transform: rotate(0.0397887288581095deg);
	width:1440.0003662109375px;
	height:0px;
	position:absolute;
	left:0px;
	top:121px;
}.205_151 { 
	border:3px solid rgba(122.1874974668026, 122.1874974668026, 122.1874974668026, 1);
}.e206_61 { 
	width:274px;
	height:100px;
	position:absolute;
	left:1154px;
	top:11px;
}.e206_62 { 
	color:rgba(33.00000183284283, 37.00000159442425, 35.00000171363354, 1);
	width:135px;
	height:36px;
	position:absolute;
	left:0px;
	top:14px;
	font-family:Poppins;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e206_63 { 
	color:rgba(33.00000183284283, 37.00000159442425, 35.00000171363354, 1);
	width:129px;
	height:30px;
	position:absolute;
	left:6px;
	top:50px;
	font-family:Poppins;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e206_64 { 
	border-radius:500px;
	width:100px;
	height:100px;
	position:absolute;
	left:174px;
	top:0px;
	background-image:url(images/ellipse.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e2_38 { 
	box-shadow:0px 100px 80px rgba(24.000000469386578, 3.000000058673322, 3.000000058673322, 0.20000000298023224);
	width:250px;
	height:50px;
	position:absolute;
	left:253px;
	top:869px;
}.ei2_38_2_35 { 
	background-color:rgba(103.0000014603138, 74.0000031888485, 64.00000378489494, 1);
	width:250px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}.ei2_38_2_36 { 
	color:rgba(255, 255, 255, 1);
	width:73px;
	height:27px;
	position:absolute;
	left:88px;
	top:11px;
	font-family:Poppins;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}.e2_73 { 
	box-shadow:0px 100px 80px rgba(24.000000469386578, 3.000000058673322, 3.000000058673322, 0.20000000298023224);
	width:250px;
	height:50px;
	position:absolute;
	left:966px;
	top:869px;
}.ei2_73_2_35 { 
	background-color:rgba(103.0000014603138, 74.0000031888485, 64.00000378489494, 1);
	width:250px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}.ei2_73_2_36 { 
	color:rgba(255, 255, 255, 1);
	width:94px;
	height:27px;
	position:absolute;
	left:77px;
	top:11px;
	font-family:Poppins;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}